 :root{
    font-family: sans-serif;
    font-size: calc(1rem + 1%);
    padding-bottom: 0;
    margin: 0;
    color: whitesmoke;

}
* + *{
    padding-bottom: 1rem;
}
body{
    background: #202024; 
    margin: 0;
    padding: 0;     
}
header{
    display: flex;
    background-image: url("../source/img/chicago.gif");
    height: 90vh;
    width: 100vw;
    background-size: cover;
}
.header-content{
    padding: 0;
    margin: 1vh;
    width: inherit;
    color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}
.text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;   
}
.text h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: 4em;
    width: 100%;
    display: inherit;
    margin-bottom: 0;
    justify-content: inherit;
}
.text p{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
   
    justify-content: inherit;
    margin-bottom: 0;
}


.mierda1 i{
    padding-top: 2vh;
    font-size: 5rem;
    display: inherit;
    justify-content: inherit;
    margin-bottom: 0;
} 

.content{
    display: grid;
    padding: 4em 6.5em 2em 6.5em;
    grid-template-columns: repeat(3,33.33333333%);
}
.grid-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px;
    border-radius: 4px;
    background: #2c2c32;
    margin: 10px 10px;
}
.grid-content img{
    position: relative;
    width: 100%;
}

.grid-content h3{
    font-weight: normal;
    text-align: center;
    color: white;

}

.grid-content p
{
    line-height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 100;
    color: white;
    text-align: center;
    
}
.grid-text{
    width: 100%;

}
.btn{
    width: 100%;
    color: whitesmoke;
    padding: 0.75rem;
    margin: 1rem 1rem;
    border: 0px;
    border-radius: 4px;
    
    font-size: small;
}
.btn1{
    background: #70c7be;    
    }
.btn2{
    background: #7f92cf;
}
.btn3{
    background: #9d7ed0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: #1b1b1f;
}
.footer-icons{
    display: flex;
justify-content: center;
    padding: 0 30%;
}
.footer-icons i{
    border-radius: 100px;
    padding: .50em;
    margin: 0.5rem;
    font-size: 1.50rem;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: rgba(144, 144, 144, 0.25);
}
.footer-text p{
    width: 40vw;
    line-height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 100;
    color: white;
    text-align: center;
}
.footer-text h2{
    
    font-size: 1.75rem;
    font-weight: 100;
    color: white;
    text-align: center;
}